.Rproj.user
.Rhistory
.RData
"Konzeptionelles zur Datenvisualisierung-NEU.docx"
"Konzeptionelles zur Datenvisualisierung.docx"
"poverty Map.R"
"poverty Map2.R"
"Konzeptionelles zur DatenvisualisierungNEU.docx"
